.align-center {
  justify-content: center;
  align-items: center;
}

.form-height {
  width: 40%;
}

input {
  background: var(--text-primary);
  color: var(--background-primary);
}

.login-button {
  width: 40%;
  margin-left: -7rem;
  background: var(--text-primary);
  color: var(--background-primary);
}

.guest-login-button {
  width: 70%;
  margin-left: 10px;
  color: var(--text-primary);
  background: var(--background-primary);
  border: 1px solid var(--text-primary);
}

.field {
  background-color: var(--white);
  border: none;
}

@media only screen and (max-width: 900px) {

  .login-button {
    margin-left: 9rem;
    margin-bottom: 1rem;
  }

  .form-height {
    width: 60%;
  }

  .guest-login-button {
    margin-left: 6rem;
  }
}
