.avatar {
    margin-left: auto;
    height: 2rem;
    width: 2rem;
}

.title {
    font-weight: 600;
    font-size: x-large;
    color: var(--bg-black);
    position: fixed;
    margin-left: 3rem;
}

.header{
    position: fixed;
    width: 97%;
}

.big-font {
    font-size: x-large;
    font-weight: 500;
}

.hamburger-menu {
    display: none;
}

.hamburger-icons {
    height: 2rem;
    width: 2rem;
}

.hamburger-content {
    width: 100vw;    
    height: 138vh;    
    justify-content: center;    
    align-items: center;     
    display: flex;    
}

@media screen and (max-width: 1000px) {
    .hamburger-menu {
        display: block;
    }

    .avatar{ 
        display: none;
    }
}